@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lobster&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin {
  font-family: "Cabin", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.body {
  font-family: "Lobster", sans-serif;
}
.navbar{
    background-color:#373A3C;
}
.navbar-brand {
  font-family: "Lobster", sans-serif;

}
.nav-link{
    font-family: "Cabin", sans-serif;
}
ul {
    list-style: none;
}

h3{
    font-family: "Cabin", sans-serif;
}
h4{
    font-family: "Cabin", sans-serif;
}
li{
    font-family: "Cabin", sans-serif;
}
.footer{
    font-family: "Lobster", sans-serif;
}

